# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
pr: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: SonarQubePrepare@7
  displayName: 'Prepare SonarQube analysis'
  inputs:
    SonarQube: 'Sila SonarQube'
    scannerMode: 'Other'

- task: Maven@4
  displayName: 'Maven Package'
  inputs:
    mavenPomFile: 'SilaSDK/pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    goals: 'package'
    options: '-B -DskipTests clean'

- task: Maven@4
  displayName: 'Maven Test'
  inputs:
    mavenPomFile: 'SilaSDK/pom.xml'
    goals: 'test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/*.xml'
    codeCoverageToolOption: 'JaCoCo'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    mavenVersionOption: 'Default'
    mavenOptions: '-Xmx3072m'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false

- task: Maven@4
  displayName: 'Maven SonarQube Test'
  inputs:
    mavenPomFile: 'SilaSDK/pom.xml'
    goals: 'sonar:sonar'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false

- task: SonarQubePublish@7
  displayName: 'Publish Quality Gate'
  inputs:
    pollingTimeoutSec: '300'
