# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
pr: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: SonarQubePrepare@7
  displayName: 'Prepare SonarQube analysis'
  inputs:
    SonarQube: 'Sila SonarQube'
    scannerMode: 'Other'

- task: Maven@4
  displayName: 'Build, Test and Analyze'
  inputs:
    mavenPomFile: 'SilaSDK/pom.xml'
    goals: 'clean verify'
    options: '-B'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/*.xml'
    codeCoverageToolOption: 'JaCoCo'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    sonarQubeRunAnalysis: true

- task: SonarQubePublish@7
  displayName: 'Publish Quality Gate'
  inputs:
    pollingTimeoutSec: '300'
