<settings>
    <servers>
        <server>
            <id>iconsavings-maven-repo-snapshot</id>
            <username>${MAVEN_S3_KEY}</username>
            <password>${MAVEN_S3_SECRET}</password>
            <configuration>
                <region>us-west-2</region>
            </configuration>
        </server>
        <server>
            <id>iconsavings-maven-repo-release</id>
            <username>${MAVEN_S3_KEY}</username>
            <password>${MAVEN_S3_SECRET}</password>
            <configuration>
                <region>${MAVEN_S3_REGION}</region>
            </configuration>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>release</id>
            <repositories>
                <repository>
                    <id>iconsavings-maven-repo-release</id>
                    <url>s3://iconsavings-maven-repo/release</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>release</activeProfile>
    </activeProfiles>
</settings>